<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="Assets/css/sb-admin.css" rel="stylesheet" />
    <link href="Assets/css/sb-admin.min.css" rel="stylesheet" />
    <link href="Assets/css/mycss.css" rel="stylesheet" />
    <link href="Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Assets/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-xl-center"><img src="Assets/images/basarsoft.png" width=140 height=35></div>
            <div class="card-header text-xl-center">Toplantı Uygulaması Kullanıcı Girişi</div>

            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="LoginEmail">Email</label>
                        <input class="form-control" id="LoginEmail" type="text" aria-describedby="emailHelp" placeholder="Email giriniz.." value="beyza">
                    </div>
                    <div class="form-group">
                        <label for="LoginPassword">Şifre</label>
                        <input class="form-control" id="LoginPassword" type="password" placeholder="Şifrenizi girin.." value="1">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">Beni Hatırla
                            </label>
                        </div>
                    </div>

                    <a class="btn btn-primary btn-block" href="#" id="UserLogin">Giriş</a>
                </form>
                <div class="text-center">
                    <a class="d-block small" href="#">Şifremi Unuttum</a>
                </div>
                <div class="progress">
                    <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span id="current-progress"></span>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="Assets/vendor/jquery/jquery.min.js"></script>
    <script src="Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->

    <script src="Assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="Assets/Ekstra/Login.js"></script>
</body>

</html>
