.btnBoyut {
    height: 35px;
    width: auto;
    margin:auto;
    margin-bottom:3px;
    padding:3px 3px 3px 3px;
    float:right;
}

.c-w {
    background-color: #dedede;
}



.navbar-color {
    background-color: #f2f2f2;
}

